<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aj_web</title>
    <style>
      html,body
     {
        margin: 0;
        padding: 0;
        overflow:scroll;
      }

      body {
        background-image: url("https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1513587864,3620818218&fm=26&gp=0.jpg");
        /* background-position: center; */
        background-size: cover;
      }

      /*等 页面 和 js 全部加载完再显示body*/
      body {
        display: none;

        width: 100%;
        height: 100%;
        /* background: yellow; */
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="testClick()">测试按钮</button>
      <ul>
        <li v-for="item in dataList" v-bind:key="item.id">序号: {{item.id}} 名字: {{item.name}} 地址: {{item.address}}</li>
      </ul>

      <ul>
        <li v-for="item in ecMsgList">{{item}}</li>
      </ul>
    </div>
  </body>

  <!--        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.all.min.js"></script>
  <script src="https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.0/vue.global.js"></script>

  <script>
    let vConsole = new VConsole();
    //console.time('foo');    // 启动名为 foo 的计时器
    //console.timeEnd('foo'); // 停止 foo 计时器并输出经过的时间

    //初始化vue3
    let vueObj = Vue.createApp({
      setup() {
        //vue3 定义属性 (双向绑定)
        const state = Vue.reactive({
          dataList: [],
          ecMsgList: [],
        });

        //vue3 定义方法
        function testClick() {
          let data = callAJ("ajFun", ["我是web", 2, 34]);
          console.log("我是aj返回值",data);
          state.dataList = JSON.parse(data);
          //vConsole.show(); // 显示vconsole
        }

        return {
          ...Vue.toRefs(state),
          testClick,
        };
      },
    }).mount("#app"); //挂载到 id='app'

    console.log("vue对象: ", vueObj);

    //测试 vue外部修改属性
    //vueObj.dataList = [{id: 1, name: "小明1", address: "北京1"}]

    //测试 vue外部定义方法
    // vueObj.testMethod=function () {
    //     console.log("测试vue外部定义方法")
    // }
    //vueObj.testMethod();

    //测试 vue外部调用内部方法
    // vueObj.testClick();

    /**
     * 测试 aj调用web
     * @param data
     * @param callBack
     */
    function pushLog(data, callBack) {
      console.log("被aj调用了,参数:", data);

      //测试外部 更改 属性值
      vueObj.ecMsgList = data;

      //测试toast
      layToast("layTo");

      //调用 aj 发送callback
      callAJ(callBack, "callback嘿嘿嘿嘿");
    }

    //#endregion

    /**
     * 等 页面 和 js 全部加载完再显示body
     */
    document.addEventListener("DOMContentLoaded", function () {
      document.body.style.display = "block";
    });

    //------------
    //------------
    //------------
    //#region 调用 aj  

    /**
     * 调用java
     * @param {string} functionName 方法名
     * @param {any} arrParam 参数
     * 单个参数直接传
     * web: callAJ ("getUserName",1)           aj: function getUserName(p1) { return p1+1;}
     * 多个参数建议用数组
     * web : callAJ ("getUserName",[1,3,4])    aj: function getUserName([p1,p2,p3]) { return p1+p2+p3; }
     */
    function callAJ(functionName, arrParam) {
      let res = undefined;
      try {
        res = prompt(functionName, JSON.stringify(arrParam));
      } catch (error) {
        layToast(error);
      }
      return res;
    }

    /**
     *  html lay toast弹窗
     * @param {any} msg
     */
    function layToast(msg) {
      layer.msg(msg);
    }

    /**
     *  aj toast
     * @param {any} msg
     */
    function ajToast(msg) {
      callAJ("ajToast", msg);
    }

    /**
     *  aj log
     * @param {any} msg
     */
    function ajLog(msg) {
      callAJ("log", msg);
    }

    //#endregion
  </script>
</html>
